@charset "UTF-8";

#main > #link {
    width           : 100%;
    height          : 80%;
    display         : flex;
    justify-content : center;
    align-items     : center;
    flex-flow       : column;
}
#main > #link > button {
    background      : #fff;
    width           : 50vmin;
    height          : 10vh;
    margin          : 1.5vh 0;
    padding         : 0;
    border          : 0.1vmin solid #666;
    border-radius   : 100vh;
    box-shadow      : 0.3vh 0.3vh 0.5vh rgba(0, 0, 0, 0.6);
    font-size       : 2vh;
    font-weight     : bold;
    text-align      : center;
    cursor          : pointer;
}

